@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) { */
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
/* } */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ==========================================   FONTES   =============================================== */

@font-face {
  font-family: "figtree";
  src: url("../public/fonts/Figtree-VariableFont_wght.ttf");
}



/* ==========================================   DEFAULT   =============================================== */


html {
  font-size: 100%;
  line-height: 100%
}



/* ==========================================   CUSTOM   =============================================== */


._text {
  font-size: 1rem;
  line-height: 1.5rem;
}

._text._small {
  font-size: 0.8rem;
  line-height: 1rem;
  letter-spacing: 0.01rem;
}

._display_text {
  font-size: 1.6rem;
  letter-spacing: -0.05em;
  font-weight: bold;
  line-height: 1.25rem;
}

._display_text._biggest {
  font-size: 3rem;
  letter-spacing: -0.05em;
  font-weight: bold;
  line-height: 3.25rem;
}
