@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@font-face {
  font-family: "newake";
  src: url("../public/fonts/Newake-Font-Demo.otf");
  font-weight: normal;
  font-style: normal;
}
._section {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

._shadow_neon._green {
  box-shadow: 0px 0px 20px 2px #cb80ff;
}

